body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
    margin: 0 auto;
    width: 940px; /* diferença */
}

header {
    position: relative;

}

.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: right top; /* x = horizontal, y = vertical */
        
        position: absolute;
        top: 10px; /* diferença */
        right: 14px; /* diferença */
        font-size: 14px;
        padding-top: 8px;
        padding-right: 35px;
        text-align: right;
        width: 140px;
}

.menu-opcoes ul {
    position: absolute;
    bottom: 0;
    right: 14px;
    font-size: 16px;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #036;
}