body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
}

header {
    position: relative;

}

.container {
    width: 940px;
    margin: 0 auto;
}

.busca, .menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    margin-right: 10px;
    width: 230px;
    
}

.menu-departamentos {
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

#search {
    border-radius: 10px;
    position: relative;
    bottom: 7px;
}

#buscar {
    position: relative;
    bottom: 5px;

}

.busca h2, .busca form, .menu-departamentos h2 {
    margin: 10px;
    padding: 5px;
}

.busca input {
    width: 150px;
    margin-right: 10px;
}

.menu-departamentos li {
    background-color: #fff;
    margin: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}

.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: right top; /* x = horizontal, y = vertical */
        
        position: absolute;
        top: 10px; /* diferença */
        right: 14px; /* diferença */
        font-size: 14px;
        padding-top: 8px;
        padding-right: 35px;
        text-align: right;
        width: 140px;
}

.menu-opcoes ul {
    position: absolute;
    bottom: 0;
    right: 14px;
    font-size: 16px;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #036;
}

.destaque {
    margin-top: 10px;
}
