@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

/* teste */

body {
    color: #2e0606;
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
}

.cabecalho {
    background-image: url(../img/fundo-cabecalho.jpg);
    opacity: 0.9;
}

.logo {
    width: 230px;
    margin: 10px 0 20px 0;
}

header {
    position: relative;
}

.container {
    width: 940px;
    margin: 0 auto;
}

#search {
    border-radius: 10px;
    position: relative;
    bottom: 7px;
}

#buscar {
    background-image: url(../img/busca.png);
    background-color: #9d3d3b;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 6px;
    border: none;
    text-indent: -9999px;
}

.busca h2, .busca form, .menu-departamentos h2 {
    margin: 10px;
    padding: 5px;
}

.busca input {
    width: 150px;
    margin-right: 10px;
    border: none;
}

label ~ form > input:hover {
    border: 1.5px dashed #000000;
}

.busca input:focus {
    background-color: #f5dcdc;
    text-indent: 10px;
}

.busca, .menu-departamentos {
    background-color: #9d3d3b;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    margin-right: 10px;
    width: 230px;
    
}

.menu-departamentos {
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.menu-departamentos li ul {
    display: none;
}

.menu-departamentos li:hover ul {
    display: block;
    font-style: italic;
    margin-top: 4px;
}

.menu-departamentos ul ul li {
    background-color: #f5dcdc;
}

.menu-departamentos li li a::before {
    content: '\2666';
    padding-right: 5px;
    opacity: .8;
}

.menu-departamentos li {
    background-color: #fff;
    margin: 1px ;
    padding: 5px 10px;
}

.menu-departamentos a {
    color: #6D2B1D;
    text-decoration: none;
}
.bolsas-e-carteiras {
    margin: 3px 0px;
    padding-top: 5px;
}

.bolsas-e-carteiras h3 {
    padding: 3px 0px;
    text-align: center;
    background-color: #FBC3C3;
    color: #6D2B1D;
}

.bolsas-e-carteiras h3:before, .bolsas-e-carteiras h3:after {
    content: '\2665';
    padding: 5px;
}

.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: right top; /* x = horizontal, y = vertical */
        color: #FFF;
        position: absolute;
        top: 6px; 
        right: 0px; 
        font-size: 14px;
        font-weight: bold;
        padding-top: 16px;
        padding-right: 50px;
        text-align: right;
        width: 140px;
}

.menu-opcoes ul {
    position: absolute;
    bottom: 0;
    right: 0px;
    font-size: 16px;
    margin-bottom: 10px;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #FFF;
    text-decoration: none;
    font-size: 22px; 
}

.menu-opcoes a:hover {
    transition: font-size 500ms ease,
                border-radius 300ms linear,
                color 500ms linear;
    font-size: 26px;
    background-color: rgba(0, 0, 0, .9);
    color: #FBC3C3;
    padding: 2px 10px;
    border-radius: 15px;
}

.menu-opcoes a:active {
    color: #a39bc8;
    transition: color 10ms linear;
}

.destaque {
    margin-top: 10px;
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 444px;
    border-radius: 4px 8px 16px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .6);
}

#destaque {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .6);
}

.novidades h2:before, .mais-vendidos h2:before {
    content: '\2730';
    font-size: 22px;
    padding: 0 5px;
}

.novidades {
    float: left;
    background: linear-gradient(#fbd2d2, #ff7d7d);
}

.mais-vendidos {
    float: right;
    background: linear-gradient(#d7d2f1, #a698dd);
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 141px;
    margin: 2px;
    padding-bottom: 10px;
    transition: 0.7s ease-out;
}

.painel li:hover {
    transition: all 0.3s ease-in;
    transform: scale(1.2);
    box-shadow: 0px 0px 5px #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
    background-color: rgb(255,255,255);
    color: #333333;
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}

.painel a {
    color: #333333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

footer {
    background-image: url(../img/fundo-rodape.png);
    clear: both; /* LEMBRA: Limpa o fundo!!! */
    padding: 15px 0;
}

footer .container {
    position: relative;
}

.social-media {
    position: absolute;
    top: 14px;
    right: 0px;
}

.items {
    float: left;
    margin-left: 10px;
}

.social-media a {
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}

[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

[href*="instagram.com"] {
    background-image: url(../img/instagram.png);
}
