/* mobile-241px-939px */

@media (min-width: 241px) and (max-width: 939px) {
    .container {
        width: 95%
    }

    header h1 {
        text-align: center;
    }

    .sacola {
        display: none;
    }

    .logo {
        width: 65%;
        margin-bottom: 2px;
    }

    .menu-opcoes {
        text-align: center;
    }

    .menu-opcoes ul {
        position: static;
        width: 100%;
        margin: auto;
    }

    .menu-opcoes ul li {
        display: inline-block;
        width: auto;
        margin: auto;
        padding: 0px 5px 8px 5px;
    }

    .menu-opcoes a {
        text-align: center;
        text-decoration: underline;
        font-size: 18px;
    }

    .busca, .menu-departamentos {
        width: 90%;
        margin: 0 5%;
    }

    .busca {
        margin-bottom: 5px;
    }

    .busca h2 {
        padding: 0px;
    }

    .busca input {
        margin-left: 25px;
        padding-right: 10px;
    }

    .busca, .menu-departamentos {
        font-size: 14px;
        text-align: center;
    }

    .banner-destaque img {
        margin: auto;
        margin-top: 5px;
        width: 100%;
    }

    .painel {
        width: auto;
    }

    .painel h2 {
        text-align: center;
    }

    .painel ul {
        margin: auto;
    }

    .painel li {
        width: calc(33.33% - 6px);               
    }

    .painel img {
        width: 100%;
    }

    .novidades h2:after, .mais-vendidos h2:after {
        content: '\2730';
        font-size: inherit;
        padding: 0 5px;
    }

}

/* Rodapé min 241px - max 319px */

@media (min-width: 241px) and (max-width: 319px) {

    .rodape {
        margin: auto;
        width: 100%;
    }

    #logo-rodape {
        transform: scale(0.7);
    }

    .social-media {
        top: 7px;
    }

    .items {
        transform: scale(0.8);
        margin: 0px;
    }

}

/* smartwatch-160px-240px */

@media (min-width: 160px) and (max-width: 240px) {
    .container {
        width: 90%;
    }
    
    header h1 {
        text-align: center;

    }

    .sacola {
        display: none;
    }

    .logo {
        width: 65%;
        margin-bottom: 2px;
    }

    .menu-opcoes {
        text-align: center;
    }

    .menu-opcoes ul {
        position: static;
        width: 100%;
        margin: auto;
        padding-bottom: 2px;
    }

    .menu-opcoes ul li {
        display: inline-block;
        width: auto;
        margin: auto;
        padding: 0 5px;
        text-align: center;
    }

    .menu-opcoes ul li a {
        font-size: 12.5px;
    }

    #buscar {
        left: 4px;
    }

    .busca, .menu-departamentos {
        font-size: 12px;
        width: calc(90vw - 4px);
        margin: 2px;
    }

    .busca, .menu-departamentos h2{
        text-align: center;
    }

    .busca {
        height: 90px;
    }

    .busca input {
        width: 93%;
        margin: 0px 2px 2px 2px;
    }

    .banner-destaque img {
        margin: auto;
        margin-top: 5px;
        width: 100%;
    }

    .painel {
        width: auto;
    }

    .painel h2 {
        padding: 0px;
        font-size: calc(24px - 0.5em);
        text-align: center;
    }

    .painel ul {
        margin: auto;
    }

    .painel li {
        width: calc(50% - 6px);               
    }

    .painel img {
        width: 100%;
    }

    .novidades h2:before, .novidades h2:after {
        content: '\2730';   
        padding: 0px 2px;
        font-size: 15px;
        
    }

    .mais-vendidos h2:before, .mais-vendidos h2:after {
        content: '\2730';
        margin: auto;
        padding: 0px 2px;
        font-size: 15px;
    }

    .rodape {
        margin: auto;
        width: 100%;
    }

    #logo-rodape {
        position: relative;
        left: -20px;
        transform: scale(0.6);
    }

    .social-media {
        top: 7px;
    }

    .items {
        transform: scale(0.6);
        margin: -5px;
    }
}

/* smartwatch - rodapé -160px-189px */

@media (min-width: 160px) and (max-width: 189px) {

    #logo-rodape {
        left: -30px;
        transform: scale(0.5);
    }

    .items {
        transform: scale(0.5);
        margin: -6px;
    }
}
