body {
    width: 940px;
    color: #333333;
    font-family: "Lucida Sans Unicode","LucidaGrande", Arial, sans-serif;
    margin: 0 auto;
}

header {
    position: relative;
}

.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: right top; /* x = horizontal, y = vertical */
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        padding-top: 8px;
        padding-right: 35px;
        text-align: right;
        width: 140px;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.mirror-fashion-h1 {
    background-image:url(../img/sobre-background.jpg);
    color: #000000;
    padding: 10px;
    margin: 10px 0;
    font-size: x-large;
    font-style: italic;
}

h2 {
    font-size: large;
    border-bottom: 1px solid #333333;
    margin: 20px 0;

}

p {
    font-size: 16px;
    padding: 0 45px;
    text-indent: 15px;
    margin: 10px 0;
}

a {
    color: #036;
}

strong {
    font-weight: bolder;
}

em {
    font-style: italic;
}

figure {
    background-color:#f2eded;
    text-align: center;
    border: 1px solid #cecece;
    padding: 15px;
    margin: 30px;
}

#centro-de-distribuicao {
    width: 550px;
    margin: 0 auto;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

.diferencas {
    list-style-type: circle;
}

li {
    text-indent: 50px;
}

#compra {
    background-color: #dcdcf4;
    color: #4560e2;
    font-size: xx-large;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

#rodape {
    color: #777777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}
