@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

body {
    color: #42454d;
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
}

.cabecalho {
    background-image: url(../img/fundo-cabecalho.jpg);
    opacity: 0.9;
}

.logo {
    width: 230px;
    margin: 10px 0 20px 0;
}

header {
    position: relative;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: right top; 
        color: #FFF;
        position: absolute;
        top: 6px; 
        right: 0px; 
        font-size: 14px;
        font-weight: bold;
        padding-top: 16px;
        padding-right: 50px;
        text-align: right;
        width: 140px;
}

.menu-opcoes ul {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 16px;
    margin-bottom: 10px;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #FFF;
    text-decoration: none;
    font-size: 22px; 
}

.menu-opcoes a:hover {
    font-size: 26px;
    text-decoration: underline;
}

.menu-opcoes a:active {
    color: #FBC3C3;
}


.mirror-fashion-h1 {
    background-color: #9d3d3b;
    color: #360707;
    padding: 10px 0px 10px 30px;
    margin: 10px 0;
    font-size: x-large;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(61, 60, 60, 0.753);
}

h2 {
    font-size: large;
    border-bottom: 1px solid #333333;
    margin: 20px 0;

}

p {
    font-size: 16px;
    padding: 0 45px;
    text-indent: 15px;
    margin: 10px 0;
    text-align: justify;
}

p::first-letter {
    font-weight: bold;
    font-size: 150%;
}

h2 ~ p::first-line {
    font-variant: small-caps;
}

p:not(.primeiro) {
    text-indent: 0px;
}

/* 
:not(p) + p::first-line {
    font-variant: small-caps;
}

isso significa: "selecione as primeira linhas dos parágrafos que não são procedidos por outros parágrafos."

*/

.menu-opcoes a {
    font-size: 22px;
}

a {
    color: #9d3d3b;
    text-decoration: none;
}

a:hover {
    font-size: 18px;
    font-family: 'Sansita Swashed', cursive;
    text-decoration: underline;
}

a:active {
    color: #FBC3C3;
}

strong {
    font-weight: bolder;
}

em {
    font-style: italic;
}

figure {
    color: #FBC3C3;
    background-color:#360707;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    border: 4px double  #FBC3C3;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

#centro-de-distribuicao {
    width: 550px;
    margin: 0 auto;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

.diferencas {
    list-style-type: circle;
}

li {
    text-indent: 50px;
}

.compra {
    background-color:  #FBC3C3;
    color: #360707;
    font-size: xx-large;
    padding: 10px;
    text-align: center;
    margin: 20px 0px;
}

.compra::before, .compra::after {
    content: '\2665';
    padding: 0 10px;
}

footer {
  background-image: url(../img/fundo-rodape.png);
  padding: 15px 0;
}

footer .container {
    position: relative;
}

.social-media {
    position: absolute;
    top: 15px;
    right: 0;
}

.items {
    float: left;
    margin-left: 14px;
}

.social-media a {
    text-indent: -9999px;
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    height: 40px;
}

[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}

[href*="instagram.com"] {
    background-image: url(../img/instagram.png);
}
