body{
    color: rgb(41, 40, 40);
    font-family: "Lucida Sans Unicode","LucidaGrande", Arial, sans-serif;
}

h1{
    background-image:url(../img/sobre-background.jpg);
    color: #000000;
}

h2{
    border-bottom: 1px solid #000000;
}

figure{
    background-color:rgba(48, 47, 47, 0.1);
    text-align: center;
    border: 1px solid #000000;
    color: #000000;
}

figcaption{
    font-style: italic;
}