body {
    color: #0000ff;
}

div {
    background-color: gray;
    color: #ffffff;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding-top: 15px;
    vertical-align: middle;
    
}

/* inherit: herda do pai */

/* No navegador

    p {
        color: inherit
    } 

    para o link é diferente: 
    a{
        color:blue
            click: purple
    } */

a {
    color: inherit; /* Então modificamos manualmente */
    
}
