.quadrado {
    height: 200px;
    width: 200px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

.primeiro {
    background-color: #ff0000;
    position: static;
}

.segundo {
    background-color: #00ff00;
    position: relative;
    left: 100px;
    top: 20px;
}

.terceiro {
    background-color: #0000ff;
    position: absolute;
    left: 400px;
    top: 50px;
}

.interno {
    background-color: #000000;
    color: #fff;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.quarto {
    background-color: #ffff00;
    position: fixed;
    top: 20px;
    right: 50px;
}
