.quadrado {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.primeiro {
    background-color: #ff0000;
    position: static; /* fica estático, não faz nada. "O Fred na copa de 2014" kkkkk */
    left: 10px; /* não acontece nada!
    /*  left: 10px; eixo x
        x right: 10px;
        bottom: 20px; eixo y
        x top: 40px;
        */
}

.segundo {
    background-color: #0000ff;
    position: absolute; /* Referente a tela */
    top: 50px;
    left: 170px;
}

.terceiro {
    
    background-color: #00ff00;
    position: relative;
    left: 10px; /* vai empurrar para a direita 
    bottom: 15px;
    /* position relative usa a posição de onde o elemento foi criado (se usarmos valores negativos ele irá mudar para o lado contrário como se tivesse um eixo) */
}

.quarto {
    background-color: #ff00ff;
    position: absolute;
    font-size: 10px;
    padding: 10px;
    
}

.interna {
    background-color: #000000;
    color: #ffffff; 
    width: 150px;
    height: 150px;
    position: absolute;
    top: 35px;
    left: 35px;
}

.quinto {
    background-color: #ffff00;
    position: fixed; /* literalmente com as mesmas propriedades do absolute, porém quando damos o scroll, o elemento ficará fixo na tela ou mesmo só se diminuirmos a tela. */
    top: 0;
    right: 50px;
}
