h1 {
    text-shadow: 1px 1px 3px rgba(00, 00, 00, 0.5);
}

form {
    margin: 10px;
    padding: 10px;
    border: solid 1px #000000;
    box-shadow: 2px 2px 4px rgba(00, 00, 00, 0.5);
    width: 400px;
}

input, textarea {
    margin: 4px 0px;
}

#send {
    position: relative;
    right: -250px;
}

#cancel {
    position: relative;
    right: -260px;
}
