div {
    display: block;
    width: 500px;
    font-size: x-large;
    margin: auto;
}

div > h1 {
   text-align: center;
}

ul{
    position: relative;
    left: -20px;
}

li {
    list-style: none;
}

/* ímpar */
li:nth-child(odd) {
    background-color: #ff0000;
    padding: 0px 20px;
}

/* par */
li:nth-child(even) {
    background-color: #ffff00;
    padding: 0px 10px;
    text-align: right;
}
