body {
    width: 500px;
    margin: auto;
}

article > p {
    font-style: italic;
}

h2 ~ p {
    color: #ff0000;
}


h3 ~ p:not(.especial){
    color: #aaafff;
    font-style: italic;
}

/* seleciona todas as âncoras que têm o atributo "href", ou seja, links */
a:link {
    background-color:#FF0000;
}

/* seleciona todos os links cujo valor de "href" é um endereço já visitado */
a:visited {
    background-color:#00FF00;
}

/* seleciona o link no exato momento em que clicamos nele */
a:active {
background-color:#0000FF;
}

.menu > li:first-child {
    color: #ffff00;
}

.menu > li:last-child {
    color: #00ff00;
}

.menu > li:not(.item) {
    text-indent: 20px;
}

.segundo-menu > li:nth-child(3){
    background-color: orange;
}

/* Elementos pares */
.terceiro-menu > li:nth-child(2n) {
    background-color: orangered;
}

/* Elementos ímpares */

.terceiro-menu > li:nth-child(2n+1) {
    background-color: rgb(3, 3, 39);
    color: #ffffff;
}

p::first-letter {
    font-size: 200%;
}

p::first-line {
    font-variant: small-caps;
}
