.container {
    width: 560px;
    height: 600px;
    margin: auto;
    background-color: rgb(233, 233, 233);
}

h1 {
    font-size: xx-large;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    padding-top: 10px;
}

.quadrado {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 3px 0 0 10px;
    padding: 10px;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

.primeiro {
    background-color: #ff0000;
    border-radius: 50%; /* circulo porque usamos a porcentagem = 50px não dá tão certo */
}

.segundo {
    background-color: #ffb000;
    border-radius: 10px 30px;
}

.terceiro {
    background-color: #00ff00;
    border-radius: 10px 30px 70px;
}

.quarto {
    background-color: #0000ff;
    border-radius: 10px 20px 40px 80px;
}

.quinto {
    background-color: #000000;
    color: #ffffff;
    border-radius: 0px 5px 20px;
}

.sexto {
    background-color: #efcfcf;
    border-bottom-right-radius: 150px;
}

.setimo {
    background-color: #EF6950;
    border-bottom-right-radius: 150px;
    transform: rotate(45deg); /* degrees - graus, tipo 90°, 360° */
    position: relative;
    left: 368px;
}

.oitavo {
    background-color: #00b294;
    width: 200px;
    height: 100px;
    position: relative;
    top: 10px;
    left: -100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
