body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    margin: 15px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    border: none;
    border-radius: 4px;
    transform: scale(1);
    transition: border-radius 100ms linear;
}
/* ease=mais devagar *** ease-in=mais devagar quando estiver o mouse *** ease-out=mais devagar quando o mouse estiver fora *** ease-in-out=mais devagartanto para dentro quanto para fora */

/* Quando eu quiser que a animação só aconteça quando eu estiver com o mouse em cima, eu devo aplicar o transform apenas no houver, como estará no css - A diferença é clara, quando queremos a animação quando tiramos o mouse, temos que colocar os efeitos no botão e quando queremos quando passamos o mouse por cima apenas, ou quando houver uma "mudança", colocamos no "hover" // Podemos ainda configurar o "tira e põe" do mouse no elemento, por exemplo no hover colocar tempo mais longo do que no btn em si. */

.btn:hover {
    border-radius: 20px;
    transform: scale(1.4);
    transition: transform 500ms cubic-bezier(0.68, 1.42, 0.8, 1.52), /* Esse valor conseguimos pelo inspecionar direto no navegador - só clicar no reloginho no firefox ou na curvinha no chrome */
                border-radius 500ms linear,
                background-color 500ms linear,
                color 500ms linear;
}

.entrar {
    background-color: #ffb900;
    color: #F7630C;
}

.entrar:hover {
    background-color: #f7630c;
    color: #ffb900;
}

.editar {
    background-color: #00cc6a;
    color: #498205;
}

.editar:hover {
    background-color:#498205;
    color:  #00cc6a;
}

.cancelar {
    background-color: #8e8cd8;
    color: #744DA9;
}

.cancelar:hover {
    background-color: #744DA9;
    color: #8e8cd8;
}
