.product-mirror .container {
    margin-top: 20px;
}

.product-mirror form {
    padding: 20px 10px;
    margin: 0 auto;
}

.product-mirror fieldset {
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
}

.product-mirror .color {
    text-transform: uppercase;
}

.product-mirror .title-price {
    width: 300px;
    margin: 0px auto;
    font-style: italic;
}

.product-mirror .title-price > .title-mirror { 
    font-size: 38px;
}

.product-mirror .price {
    margin-right: 20px;
    font-size: 20px;
    font-style: italic;
    text-align: right;
}

@media (min-width: 450px) {
    
    .product-mirror {
        display: flex;
        flex-direction: column;
        align-items: center; /* como invertemos com o flex-direction, tivemos que colocar o align-items. */
    }

    .product-mirror .title-price {
        text-align: center;
    }
}

@media (min-width: 980px) {

    .product-mirror {
        position: relative;
        display: block;        
    }

    .product-mirror fieldset {
        background-color: #f2f2f200;
    }

    .product-mirror .title-price {
        text-align: left;
    }

    /* .product-mirror .title-price > .title-mirror {
        position: relative;
        top: 90px;
        right: -50px;
    }

    .product-mirror .price {
        position: relative;
        top: 90px;
        right: -60px;
    } */
}
