/* coisas que são base do nosso css. EX: TAGS head, body, html etc */

body {
    color: #2e0606;
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    min-width: 160px; /* Isso seria util pára não quebrar a tela (dando suporte para o tamanho minino de 320px) */
}
