.pai {
    text-align: justify; /* Comportamento de texto, por isso align-items e align-contents não funcionam */
}

.quadrado {
    width: 200px;
    height: 200px;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
}

.primeiro {
    background-color: #FFB900;
}

.segundo {
    background-color: #0063B1;
}

.terceiro {
    background-color: #00CC6A
}

.ultima { /* para fazermos a ultima linha ser sempre a ultima referente ao Justify, configuramos da seguinte maneira:  */
    display: inline-block;
    width: 100%; /* A porcentagem usa como referencia o tamanho do pai. Se o pai tem width 500px, 100% dela será de 500px */
    background-color: #ffff00;
    text-align: center;
    /* visibility: hidden; */ /* 1ª opção */
    /* opacity: 0; */ /* 2ª opção */
    height: 0; /* 3ª opção, mas o texto continua aparecendo */
    overflow: hidden; /* Para retirar o texto */
}

p {
    color: #ff0000;
    font-size: x-large;
    font-weight: bolder;
    text-align: right;
}

.exemplo {
    color: #000;
    text-align: justify;
}
