.pai {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.quadrado {
    width: 200px;
    height: 200px;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 5px;
}

.primeiro {
    background-color: #FFB900;
}

.segundo {
    background-color: #0063B1;
}

.terceiro {
    background-color: #00CC6A
}

p {
    color: #ff0000;
    font-size: x-large;
    font-weight: bolder;
    text-align: right;
}

.exemplo {
    color: #000;
    text-align: justify;
}
