body{
    color: #fff;
    background-color: #000;
}

div{
    font-size: 30px;
    background-color: rgb(138, 22, 22);
    display: block;
    width: 500px;
    margin: auto; /* ou margin: 0 auto; */
    text-align: center;
}

p{
    font-size: 20px;
    text-indent: 20px;
}